@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
/* ==========================================================================
  Typography -Typebase.css
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
   html {
    /* Change default typefaces here */
    font-family: 'Roboto Slab', serif;
    font-size: 137.5%;
    font-weight: 400;
    line-height: 1.5;
    color: #eaeaed;
    background-color: #111518;
    -webkit-font-smoothing: antialiased;
  }
  
header {
  background-color: #111518;
  color: #031924;
}

  ul.nav{ 
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .nav li {
    background-color: #111518;
    border-bottom:5px solid #031924;
    color: #ffffff;
    display:block;
    float: left;
  ;
  }
  .nav li:hover {
    border-bottom:5px solid #060607;
    background-color: #111518;
    color: white;
  }
.nav a {
  color:#ffffff;
  display: block;
  padding: 15px 10px;
  text-decoration: none;
}
  